@use '../../scss/' as *;

.home {
    margin-top: 200px;

    &__title {
        text-align: center;
        margin-top: 50px;
        font-size: 39px;

        @include tablet {
            font-size: 30px;
        }
    }

    &__content {
        display: flex;
        @include flex(center, center);
        width: 100%;
        gap: 50px;
    }

    &__list {
        margin-top: 60px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
        position: relative;

        @include mobile {
            gap: 25px;
        }
    }

    &__generals {
        display: flex;
        gap: 14px;
        align-items: center;
        cursor: pointer;
        padding: 10px;
        background-color: rgba(158, 155, 155, 0.609);
        border-radius: 10px;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
        transition: all .3s ease;

        &:hover {
            transform: translateY(-5px);
        }

    }

    &__link {
        list-style: none;
        font-size: 22px;
        font-weight: 600;
        display: inline-block;

        @include mobSmall {
            font-size: 16px;
        }


    }

    &__icon {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
        font-size: 20px;
    }



    &__categories {
        position: absolute;
        flex-direction: column;
        top: 50%;
        transform: translateY(140%);
    }

    &__categorie {
        padding: 10px 20px;
        display: flex;
        gap: 30px;


        .bg {
            background-color: gray;

        }
    }


    &__pod {
        font-size: 16px;
        padding: 5px 15px;
        border-radius: 9px;
        background-color: orange;
        text-align: center;
        align-items: center;
        display: flex;
        text-decoration: none;
        color: #000;
    }
}